* {
  font-family: Lato, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8fa;
}

header {
  text-align: center;
  padding-bottom: 10px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.8)), url("../img/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.2);
  height: 70px;
}

header .container {
  display: block;
  position: absolute;
  width: 100%;
  height: 80px;
}

header .logo {
  display: inline-block;
  margin-top: 11px;
  height: 28px;
}

header h1 {
  font-weight: 300;
  color: #000;
  text-rendering: optimizeLegibility;
  font-size: 25px;
  margin-top: -6px;
}

header h1 span {
  display: inline-block;
  width: 0;
  font-size: 0.5em;
}

strong {
  font-weight: 900;
  color: #F40038;
}

.dashboard {
  width: 95%;
  height: 350px;
  background-color: #FFF;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.2);
}

.dashboard .dashboard-name {
  border-bottom: 1px solid #A6AAA8;
  text-transform: uppercase;
  font-weight: 400;
  color: #595959;
  padding: 10px;
  padding-left: 70px;
  padding-right: 0;
  width: 80%;
  font-size: 27px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 10px;
}

.dashboard-detail {
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 50px;
}

.dashboard-section {
  display: inline-block;
  width: 19.7%;
  border-right: 1px solid #A6AAA8;
}

.dashboard-section:last-of-type {
  border: none !important;
}

.five-mid {
  padding-left: 29px;
}

.sidebox .loader, .sidebox-tumblr .loader-tumblr {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 1em 0;
  display: none;
}

.sidebox .loading .loader, .sidebox-tumblr .loading-tumblr .loader-tumblr {
  display: block;
  height: 60px;
  width: 120px;
  animation: rotation 1s infinite linear;
  border: 2px solid rgba(255, 0, 2, 0.2);
  border-top-color: rgba(255, 0, 2, 0.7);
  border-radius: 50%;
  margin: 20px auto;
  margin-bottom: 45px;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.dark {
  margin-bottom: 40px;
  margin-top: 20px;
  color: #595959;
  text-align: center;
  font-size: 23px;
}

.upper {
  text-transform: uppercase;
  color: #F72A4E;
  font-weight: 900;
  font-size: 40px;
}

.icon {
  height: 30px;
  margin-top: 10px;
}

.big {
  height: 23px;
  margin-top: 17px;
}

.icon-ie {
  padding-right: 28px;
}

.icon-cost {
  padding-left: 10px;
}

.embed {
  width: 40%;
  margin: auto;
}

.one {
  width: 101%;
}

.two {
  width: 49.2%;
}

.three {
  width: 33%;
}

.four {
  width: 24.2%;
}

.post-link {
  color: #F72A4E;
  font-style: italic;
  text-transform: none;
  text-decoration: underline;
  float: right;
  font-size: 18px;
  padding-top: 10px;
}

.last-update {
  text-align: center;
  font-style: italic;
  margin-top: 30px;
  color: #595959;
  font-weight: 300;
  margin-bottom: 30px;
}

.report-name {
  text-transform: uppercase;
  font-weight: 400;
  color: #A6AAA8;
  padding-left: 6%;
  padding-right: 0;
  width: 76%;
  margin: auto;
  padding-top: 40px;
}

.list-link {
  display: block;
  padding: 10px;
  padding-left: 15px;
  width: 70%;
  background-color: #FFF;
  margin: auto;
  margin-top: 25px;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #595959;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-link:nth-child(1) {
  margin-top: 5px;
}

.arrow {
  float: right;
  font-size: 30px;
  margin-top: -10px;
  font-weight: 300;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .dashboard-section {
    display: inline-block;
    width: 33%;
    border: none;
  }

  .embed {
    width: 55%;
  }

  .dashboard-section:nth-child(5) {
    width: 100% !important;
  }

  .four, .dashboard-section {
    width: 49% !important;
  }

  .three {
    width: 100% !important; 
  }

  .one {
    width: 100% !important;
  }

  .dashboard {
    height: auto;
  }

  .last-update {
    margin-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .dashboard {
    width: 90%;
  }

  .embed {
    width: 70%;
  }
  
  .dashboard-detail {
    width: 69%;
  }

  .four, .three, .two, .one, .dashboard-section {
    width: 100% !important;
    display: block;
    text-align: center;
  }

  .dashboard-name, .post-link {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .four, .three, .two, .one, .dashboard-section {
    width: 100% !important;
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }

  .dashboard .dashboard-name, .post-link {
    display: block;
    text-align: center;
  }

  .post-link {
    width: 100%;
    font-size: 15px;
  }

  .dashboard .dashboard-name {
    width: 80%;
    height: 65px;
    font-size: 20px;
    padding-left: 0;
  }

  .embed {
    width: 90%;
  }
}