* {
  font-family: Lato, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8fa;
}

header {
  text-align: center;
  padding-bottom: 10px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.8)), url("../img/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.2);
  height: 70px;
}

header .app-download {
  position: absolute;
  right: 10px;
  top: 10px
}

.app-download {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block
} 

header .logo {
  display: inline-block;
  margin-top: 11px;
  height: 28px;
}

header h1 {
  font-weight: 300;
  color: #000;
  text-rendering: optimizeLegibility;
  font-size: 25px;
  margin-top: -6px;
}

header h1 span {
  display: inline-block;
  width: 0;
  font-size: 0.5em;
}

strong {
  font-weight: 900;
  color: #F40038;
}

.post {
  width: 95%;
  height: 300px;
  background-color: #FFF;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.2);
}

.post .post-name {
  border-bottom: 1px solid #A6AAA8;
  text-transform: uppercase;
  font-weight: 400;
  color: #595959;
  padding: 10px;
  padding-left: 80px;
  padding-right: 0;
  width: 90%;
  font-size: 27px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 10px;
}

.post-detail {
  width: 95%;
  height: 95%;
  margin: auto;
  margin-top: 50px;
}

.post-section {
  display: inline-block;
  width: 19%;
}

.five-mid {
  padding-left: 29px;
}

.dark {
  margin-bottom: 40px;
  margin-top: 20px;
  color: #595959;
  text-align: center;
  font-size: 23px;
}

.upper {
  text-transform: uppercase;
  color: #F72A4E;
  font-weight: 900;
  font-size: 40px;
}

.post-link {
  color: #F72A4E;
  font-style: italic;
  text-transform: none;
  text-decoration: underline;
  float: right;
  font-size: 18px;
  padding-top: 10px;
}

.last-update {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  color: #595959;
  font-weight: 300;
}

.report-name {
  text-transform: uppercase;
  font-weight: 400;
  color: #A6AAA8;
  padding-left: 6%;
  padding-right: 0;
  width: 76%;
  margin: auto;
  padding-top: 40px;
}

.list-link {
  display: block;
  padding: 10px;
  padding-left: 15px;
  width: 70%;
  background-color: #FFF;
  margin: auto;
  margin-top: 25px;
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #595959;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-link:nth-child(1) {
  margin-top: 5px;
}

.arrow {
  float: right;
  font-size: 30px;
  margin-top: -10px;
  font-weight: 300;
  margin-right: 10px;
}

@media (max-width: 1350px) {
  .post-section {
    display: inline-block;
    width: 33%;
  }

  .post-section:nth-child(5) {
    width: 100% !important;
  }

  .four, .post-section {
    width: 49% !important;
  }

  .three {
    width: 100% !important; 
  }

  .post {
    height: auto;
  }

  .last-update {
    margin-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .post {
    width: 90%;
  }
  .post .post-name, .post-detail {
    width: 69%;
  }

  .four, .three, .two, .one, .post-section {
    width: 100% !important;
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .four, .three, .two, .one, .post-section {
    width: 100% !important;
    display: block;
    text-align: center;
  }
}













